<% provide(:title, "All users") %>

<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>

  <%# equivalent with the below code @@ Ruby convention magic %>

  <%# @users.each do |user| %>
    <%#= render user %>
  <%# end %>
</ul>

<%= will_paginate %>